.row
  .col-md-12
    %h1 Presence
.row
  - @presences.each do |presence|
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = presence.checked_at
            %small
              = "(#{presence.active_ids.count})"
        .panel-body
          %ul.avatar-list
            - presence.active_members.limit(32).each do |member|
              %li.avatar-list-item
                = link_to member do
                  = image_tag member.image_url, :class=>"img-circle"