.row
  .col-md-12
    %h1 Channels
.row
  - @channels.each do |channel|
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = link_to "##{channel.name}", "https://#{channel.team_domain}.slack.com/messages/#{channel.name}/", :target=>"_blank"
            %small
              = "(#{channel.num_members})"
        .panel-body
          %ul.avatar-list
            - channel.members.limit(32).each do |member|
              %li.avatar-list-item
                = link_to member do
                  = image_tag member.image_url, :class=>"img-circle"