= simple_form_for(@message) do |f|
  = f.error_notification

  .form-inputs
    = f.input :channel_uid
    = f.input :channel_id
    = f.input :team_uid
    = f.input :team_id
    = f.input :text
    = f.input :ts
    = f.input :timestamp
    = f.input :message_type
    = f.input :message_subtype
    = f.input :user_uid
    = f.input :user_id
    = f.input :properties
    = f.input :slack_data

  .form-actions
    = f.button :submit
