<%- unless user.is_deleted? %>
<div class="col-md-4">
<div class="card">
  <%= image_tag user.image_url, :class=>"card-img", :width=>"100%" %>
  <div class="card-img-overlay">
    <h4 class="card-title"><span class="label label-default"><%= user.full_name %></span></h4>
<!--     <p><%= time_ago_in_words user.last_activity_at unless user.last_activity_at.nil?%></p>
    <p><span class="label label-default"><%= user.photo_score %></span></p>
    <%= link_to "Edit", edit_user_path(user) %>
 -->  </div>
</div>
</div>
<% end %>
