.col-md-6
  .panel.panel-default.panel-profile.m-b-md
    .panel-heading{:style => "background-image: url(#{user.background_image}); background-color: ##{user.color}"}
    .panel-body.text-center
      =link_to user do
        = image_tag user.image_url, :class=>"panel-profile-img"
      %h5.panel-title
        =link_to user, :class=>"text-inherit" do
          = user.name
      %p.m-b-md{:style=>"height:22px"}
        = user.description
      %ul.panel-menu
        %li.panel-menu-item
          %a.text-inherit
            = user.answered_questions.count
            questions answerd
        %li.panel-menu-item
          %a.text-inherit
            = user.channels.count
            channels joined
        %li.panel-menu-item
          %a.text-inherit
            =user.presences.count
            days present
            
      %a.btn.btn-success{:href => "#"}
        Contact
        = user.name
      = link_to "Learn more", user, :class=>"btn btn-primary"