= simple_form_for(@enquiry) do |f|
  = f.error_notification

  .form-inputs
    %strong
      Message to:
    %h3
      =@enquiry.user.full_name
      %small
        =@enquiry.user.name
    = f.input :user_id, :as=>"hidden"
    = f.input :name, label: "Your name"
    = f.input :email, label: "Your email"
    = f.input :text, label: "Message"

  .form-actions
    = f.button :submit, "Send", :class=>"btn btn-success"
    = link_to "Cancel", root_path, :class=>"btn btn-default"
