!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "See a deck of profiles showing off all your esteemed colleagues in just two clicks.", :name => "description"}/
    %meta{:content => "directory list index team coworkers colleagues", :name => "keywords"}/
    %meta{:content => "", :name => "author"}/
    %title
      = yield :title
    %link{:href => "https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600", :rel => "stylesheet", :type => "text/css"}/
    = render 'favicon'
    = stylesheet_link_tag 'marketing', media: 'all', 'data-turbolinks-track' => true
    :css
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }

      .navbar-brand > img {
        margin-top: -10px;
        margin-right: 10px;
      }

      .app-marketing-grid .icon{
        font-size: 200px;
      }

      @media (min-width: 768px){
        .app-iphone-block {
          padding-bottom: 100px;
        }
      }
    = csrf_meta_tags
  %body
    #sidebar.stage-shelf.stage-shelf-right.hidden
      %ul.nav.nav-bordered.nav-stacked
        %li.nav-header Cabinbot
        %li.active
          %a{:href => "/"} Home
        = render partial: 'layouts/navigation_links'
    #stage.stage
      .block.block-inverse.block-fill-height.app-header{:style => "background-image: url(#{asset_path('community.jpg')});"}
        %nav.navbar.navbar-transparent.navbar-fixed-top.navbar-padded.app-navbar
          = render partial: 'layouts/navigation'
        %img.app-graph{:src => asset_path('faded-member-list.png')}/
        .block-xs-middle.p-b-lg
          .container
            .row
              .col-sm-10.col-md-7
                %h1.block-title.m-b-sm Are you doing enough to stop team members from jumping ship?
                %p.lead.m-b-md.text-muted
                  %strong Nobody wants to sign in to Slack to see slackbot sitting alone above a long list of faded names.
                %p.lead.m-b-md.text-muted
                  Imagine if you could see your whole crew on deck together anytime, anywhere.
                %p.lead.m-b-md.text-muted
                  Cabinbot will curate a deck of crew profiles fit for a surprise admiral's inspection.
                %p.lead.m-b-md.text-muted
                  %strong
                    Create your directory of esteemed coworkers in just two clicks:
                  %a{:href => "/auth/slack"}
                    %img{:alt => "Add to Slack", :height => "40", :src => "https://platform.slack-edge.com/img/add_to_slack.png", :srcset => "https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x", :width => "139"}/
      = yield
      .block.block-inverse.app-footer
        = render partial: 'layouts/footer'
    = javascript_include_tag 'marketing', 'data-turbolinks-track' => true